header{
    display: inline-block;
}

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.alignicons {
    padding: 2vh;
}
.icons {
    width: 4vw;
    margin: 1vw;
}
.topnav{
    display: flex;
    justify-content: space-between;
}
.topnav a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    float: left;
    /*color:#ddd;*/
    color: black;
    text-align: center;
    padding: 1px 0px;
    text-decoration: none;
    font-size: 17px;
    /* I'm trying to condense the space my website is in so I can leave some white space on the sides*/
    margin-left: 20px;
    margin-right: 20px
  }

.topnav a:hover {
    color: black;
    border-bottom: 1px solid black;
  }
  
.topnav a.active {
    /*color: black;*/
    border-bottom: 1px solid black;
  }